/* Stop map container */
.stop-map-container {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  margin-block-start: 0;
  margin-block-end: 1rem;
  flex-shrink: 0;
}

@media (max-width: 640px) {
  .stop-map-container {
    height: 25vh;
  }
}
