.app-shell {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
}

.app-shell__header {
  flex-shrink: 0;
  z-index: 10;
}

.app-shell__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.app-shell__main {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}

.app-shell__bottom-nav {
  flex-shrink: 0;
  display: block;
  z-index: 10;

  position: sticky;
  bottom: 0;
  width: 100%;
  background: var(--background-color);
  border-top: 1px solid var(--border-color);
}
