.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;

  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
}

.vertical {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding-top: 1rem;
  gap: 1rem;
  border-top: none;
}

.link {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  padding: 0.25rem 0;
  border-radius: 0.5rem;
}

.link svg {
  width: 1.375rem;
  height: 1.375rem;
  fill: none;
  stroke-width: 2;
}

.link span {
  font-size: 13px;
  line-height: 1;
  font-family: system-ui;
}

.active {
  color: var(--button-background-color);
}
